PORT=3000
HOST=0.0.0.0
NODE_ENV=development
JWT_SECRET=sua-chave-secreta-aqui
MONGO_URI=mongodb://localhost:27017/taskflow

# Para MongoDB Atlas (cloud):
# MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/taskflow?retryWrites=true&w=majority
